@use "sass:list";
$grey: #e0e3da;
$blue: #0250bb;
$lightBlack: #252c41;
$lightGrey: #f0f5f9;
$darkGrey: #566270;
$green: #8fbc94;
$fontMaxSmall: 0.75rem;
$fontSmall: 0.938rem;
$fontMedium: 1rem;
$fontBig: 1.25rem;

#root {
  width: 100%;
  max-width: 1280px;
  text-align: center;
}

// Header
header,
nav ul {
  display: flex;
  align-items: center;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.topNav {
  display: flex;
  justify-content: space-between;
}
.mainNav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1.25rem;
}
#logo {
  width: 50px;
  height: 50px;
  padding: 20px;
}
nav {
  display: flex;
  align-items: center;
  min-width: 250px;
}
nav ul {
  gap: 100px;
  font-size: $fontMedium;
}
a {
  text-decoration-line: none;
  color: #222222;
  padding-top: 5px;
}

//Dropdown Menu
.dropdown-menu {
  position: relative;
  display: inline-block;
  width: 100%;
}
.dropdown-menu {
  display: flex;
  flex-direction: column;
}
.dropdown-toggle {
  align-self: flex-end;
  width: 30px;
  height: 30px;
  margin: 20px;
  border: none;
  cursor: pointer;
  background: url("../public//menu.png") center / contain no-repeat;
}
.dropdown-list {
  display: none;
  position: absolute;
  z-index: 1;
  padding: 0;
  margin: 0;
}
.dropdown-list li {
  padding: 10px;
}
.dropdown-menu.open .dropdown-list {
  display: block;
}

//Main Section
section {
  width: 60%;
  min-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
}
section .wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
section h2 {
  padding: 0.625rem;
  margin-bottom: 1.25rem;
  text-align: left;
  font-size: $fontMedium;
  background-color: #e0e3da;
}

//User Info Section
#userInfo > div,
#userInfo,
#userInfo .info,
#userInfo .userId {
  display: flex;
  align-items: center;
}
#userInfo {
  flex-direction: row;
  gap: 10px;
  padding: 1.25rem;
  margin-bottom: 2.5rem;
  font-size: $fontSmall;
  background-color: $grey;
}
#userInfo > div {
  gap: 5px;
}
.profile {
  width: 50px;
  height: 50px;
}
#userInfo .info {
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
#userInfo .userId {
  text-align: left;
}

//Table Section
.contentTable {
  width: 100%;
  font-size: $fontSmall;
  text-align: center;
}
.contentTable tr th {
  padding: 0.625rem;
  font-size: $fontMedium;
}
.contentTable tr {
  border-bottom: solid 1px $grey;
}
.contentTable .title {
  min-width: 100px;
  padding: 1.25rem;
}
.categoryTag {
  padding: 0.313rem;
  border-radius: 20px;
  background-color: $green;
  font-size: $fontMedium;
}

//WriteContent
#contentForm .top,
#contentForm .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
#contentForm h2 {
  width: 100%;
  align-self: flex-start;
  background-color: transparent;
  font-size: $fontBig;
}
#contentForm .top {
  width: 100%;
  gap: 20px;
  align-items: flex-start;
}
.lineBox {
  border: solid 1px $lightGrey;
  border-radius: 10px;
}
#contentForm .selectBox {
  width: 15rem;
  height: 1.875rem;
  position: relative;
  font-size: $fontSmall;
}
#contentForm select {
  width: inherit;
  height: inherit;
  border: none;
  border-bottom: solid 2px $lightGrey;
  text-overflow: ellipsis;
}
#contentForm .title {
  width: 100%;
}
#contentForm .title input {
  width: 100%;
  height: 1.875rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: $lightGrey;
}
#contentForm .bottom {
  width: 100%;
}
#contentForm .bottom textarea {
  width: 100%;
  height: 6.25rem;
  padding: 2.5rem;
  border: none;
}
#contentForm button {
  width: 10rem;
  color: #ffffff;
  background-color: #0250bb;
}
#contentForm button.inactive {
  border: none;
  color: #222222;
  background-color: $grey;
  pointer-events: none;
}

//Login
#signIn h2 {
  background-color: transparent;
  font-size: $fontBig;
}
#signIn form,
.loginBox > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginBox {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
  padding: 2.5rem;
  margin: 0 auto;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.loginBox > div {
  width: 100%;
}
#signIn input {
  width: 90%;
  border-radius: 0.375rem;
  border-width: 1px;
  padding: 1rem;
  font-size: 16px;
}
#signIn a {
  align-self: flex-end;
  text-decoration-line: underline;
  font-size: $fontMaxSmall;
}
#signIn button {
  width: 100%;
  color: #ffffff;
  background-color: #0250bb;
}
button.inactive {
  border: none;
  color: #222222;
  background-color: $grey;
  pointer-events: none;
}

//SignUp
#signUpForm,
#signUpForm > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#signUp h2 {
  background-color: transparent;
  font-size: $fontBig;
}
#signUp form {
  width: 50rem;
}
#signUpForm {
  width: 50%;
  gap: 20px;
  flex-direction: column;
  margin: 0 auto;
}
#signUpForm > div {
  gap: 20px;
  position: relative;
  width: 100%;
}
#signUpForm input {
  width: 100%;
  height: 1.875rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: $lightGrey;
}
#signUpForm .status {
  position: absolute;
  left: 103%;
  width: 40px;
  height: 40px;
  background: url("../public/checkCircle.svg") center / contain no-repeat;
  opacity: 0;
}
#signUpForm .status.show {
  opacity: 1;
}
#signUp button {
  width: 10rem;
  color: #ffffff;
  background-color: #0250bb;
}
#signUp button.inactive {
  border: none;
  color: #222222;
  background-color: $grey;
  pointer-events: none;
}

//ContentList
#contentList h2 {
  width: 100%;
}
.navigatePage,
.navigatePage span,
.navigatePage .pageNums,
.navigatePage .pageNums a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigatePage {
  gap: 0.625rem;
  margin-top: 3.125rem;
  padding: 0.625rem;
  background-color: $grey;
}
.navigatePage span {
  font-size: $fontSmall;
  cursor: pointer;
}
.navigatePage span.hidden {
  display: none;
  opacity: 0;
}
.navigatePage .previous::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../public/bracket.png") center / contain no-repeat;
}
.navigatePage .pageNums {
  gap: 10px;
}
.navigatePage .pageNums a {
  width: 25px;
  height: 25px;
  padding: 0.313rem;
  font-size: $fontSmall;
  cursor: pointer;
}
.navigatePage .pageNums a.active {
  color: $blue;
  background-color: #ffffff;
}
.navigatePage .after::after {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../public/bracket.png") center / contain no-repeat;
  transform: scale(-1, 1);
}

//ContentDetail
#contentDetail,
#contentDetail .wrap,
#contentDetail .top,
#contentDetail .content,
#contentDetail .userInfo,
#contentDetail .userInfo > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#contentDetail .top {
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  width: 100%;
  padding: 40px;
}
#contentDetail h3 {
  font-size: $fontBig;
  font-weight: 600;
}
#contentDetail .content {
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px;
  font-size: $fontMedium;
}
#contentDetail .userInfo {
  gap: 10px;
}
#contentDetail .userInfo img {
  width: 45px;
  height: 45px;
}
#contentDetail .userInfo > div {
  flex-direction: column;
  align-items: flex-start;
  font-size: $fontSmall;
}
#contentDetail .name {
  font-weight: 500;
}
#contentDetail .createdAt {
  font-size: 0.75rem;
  color: $darkGrey;
}

// Footer
#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: $fontSmall;
  text-align: center;
  color: $lightBlack;
}
#footer a {
  text-decoration: none;
  color: $lightBlack;
}
#footer > div {
  display: flex;
  gap: 0.625rem;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.875rem;
}

//Media Query
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    box-shadow: 0 4px 4px -5px #333;
  }

  .mainNav {
    display: none;
  }

  .dropdown-menu {
    display: block;
  }

  .dropdown-list {
    position: static;
  }

  .loginBox {
    width: 12.5rem;
  }

  section {
    min-width: 280px;
  }

  //signup section
  #signUp form {
    width: 37.5rem;
  }
  #signUpForm .status {
    left: 101%;
    width: 30px;
    height: 30px;
  }

  //table section
  .contentTable {
    font-size: $fontSmall;
  }
  .contentTable,
  .contentTable tr th,
  .categoryTag {
    font-size: $fontMaxSmall;
  }
  .contentTable .title {
    min-width: 50px;
    padding: 0.75rem;
  }

  .navigatePage .pageNums a {
    width: 10px;
    height: 10px;
  }
}

@media (min-width: 769px) {
  .dropdown-menu {
    display: none;
    flex-direction: row;
  }
}
